In [15]:
#In Tupple, the elements are immutable i.e uchangeable.
tup1 = ("calss","school", "pets")
(tup1[1])

'school'

In [17]:
set1 = {1,2,3,4,5,5}
set1.add(10)
print(set1)
set1.update([1],["john"])
print(set1)
set2 = {1,2,3,5}
print(set1.union(set2))
set1.symmetric_difference(set2)

{1, 2, 3, 4, 5, 10}
{1, 2, 3, 4, 5, 'john', 10}
{1, 2, 3, 4, 5, 'john', 10}

{4, 'john', 10}